@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,300italic,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic);
body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	line-height:25px;
}
h1, h2, h3, h4, h5, h6, ul {
	font-family: 'Raleway', sans-serif;
}
h2, h3, h4, h5, h6, ul {
	margin:0 0 5px;
	padding:0;
}
p {
	margin:0 0 15px;
	padding:0;
}
a {
	text-decoration: none;
}
body {
	width: 980px;
	margin: 0px auto;
}
.container {
	padding:20px;
	background:#FCFCFC;
	border:1px solid #f1f1f1;
}
strong, h1, h2, h3, h4, h5, h6 {
	color: #000;
}
ul {
	padding: 10px 39px;
}
