/*
================================================
Common CSS
================================================
*/
.heading-line:before {
	background: #58c433;	
	}
.heading-line:after {
	background: #58c433;
}	
.heading-line {
	border-bottom: 1px solid #58c433;
	}
#switcher .theme-click {
    background-color: #58c433;
}	
section h2:after {
  border-bottom: 4px double #58c433;
}
/*
================================================
Scroll top Arrow
================================================
*/
#scrollUp i:hover {
	color: #58c433;
}
/*
================================================
Navigation
================================================
*/
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
	color: #58c433;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
	color: #58c433;
}
.menu-bg .logo a, .menu-bg .navbar-default .navbar-nav li a:hover {
  color: #58c433;
}
/*
================================================
Banner Content
================================================
*/
a.slide-btn {
	background: #58c433;
}
/*
================================================
Our Team
================================================
*/
.team-cnt .member-info h5 a {
	color:#58c433;
	}
/*
================================================
About Us
================================================
*/
.progress-area {
	background: #f9f9f9;
}
.skills .progress .progress-bar {
	background-color: #58c433;
}
/*
================================================
Services
================================================
*/
.single-service .service-bar:before,
.single-service .service-bar:after {
    background-color: #58c433;
}
.single-service:before,
.single-service:after {
    background-color: #58c433;
}
.single-service .service-icon {
    box-shadow: 0 0 0 8px #fff inset, 0 0 5px 0 rgba(88, 196, 51, 0.24);
    color: #58c433;
}
/*
================================================
Testimonials Wrapper 
================================================
*/	
.testimonials-wrapper p:before {
	color:#58c433;	
}
.testimonials-wrapper p:after {
	color:#58c433;
}
.testimonials-wrapper h3 span {
	color:#58c433;
}
.testimonials-wrapper .carousel-indicators li {
	border: 2px solid #58c433;
}
.testimonials-wrapper .carousel-indicators .active {
	background-color: #58c433;
}
/*
================================================
Portfolio
================================================
*/
.portfolio #filters ul li a:hover h5, .portfolio #filters ul li a.active h5 {
	background-color: #58c433;
}
.work-info p {
	color:#58c433;
}
.portfolio-filter li.active {
	color:#58c433;
	border-color:#58c433;	
	}
/*
================================================
Blog
================================================
*/
.blog-wrapper .post-meta i {
  color: #58c433;
}
.blog-wrapper a.blog-btn {
  background: #58c433;
}
/*
================================================
Pricing Table
================================================
*/
.pricing-table-wrapper .pricing-price {
    background-color: #58c433;
}
.pricing-table-wrapper .btn-sm-one {
  background-color: #58c433;
  border: 1px solid #58c433;
}
/*
================================================
Contact us
================================================
*/
.single-contact i {
  background: #58c433;
}
.contact-form .btn-contact {
    background-color: #58c433;
    border: 1px solid #58c433;
}
footer {
	background: #58c433;
}
